In [53]:
import pandas as pd
import numpy as np
from uuid import uuid4
from datetime import date

## Transforming Data

null_values : Method of Counting Null values

In [54]:
def null_values(df):
    ''' Counting Null values in each Columns'''
    null_values=pd.DataFrame({  "Null Values":df.isnull().sum()} )
    null_values=null_values.reset_index()
    print(null_values)

- Reading CSV
- Making Night Temperature, Calories and BPM values with two decimal place
- Creating new columns containing Day of Week

In [55]:
fitbit_data_frame = pd.read_csv("daily_fitbit_activity.csv")
fitbit_data_frame = fitbit_data_frame[["date","nightly_temperature","calories","distance","activityType","bpm","steps","age","gender"]]
fitbit_data_frame[["nightly_temperature","calories","bpm"]] = fitbit_data_frame[["nightly_temperature","calories","bpm"]].round(decimals=2)
fitbit_data_frame["date"] = pd.to_datetime(fitbit_data_frame["date"])
fitbit_data_frame['day_of_week'] = fitbit_data_frame['date'].dt.day_name()
null_values(fitbit_data_frame)
fitbit_data_frame.head()

                 index  Null Values
0                 date            0
1  nightly_temperature         4051
2             calories          750
3             distance         2633
4         activityType         5197
5                  bpm         2606
6                steps         2633
7                  age          614
8               gender          370
9          day_of_week            0

,date,nightly_temperature,calories,distance,activityType,bpm,steps,age,gender,day_of_week
0,2021-05-24,34.14,2351.59,6517.5,['Walk'],71.70,8833.0,<30,MALE,Monday
1,2021-05-25,33.79,2332.08,7178.6,['Walk'],70.58,9727.0,<30,MALE,Tuesday
2,2021-05-26,34.61,2262.30,6090.9,['Walk'],71.84,8253.0,<30,MALE,Wednesday
3,2021-05-27,34.41,2325.10,6653.1,['Walk'],71.73,9015.0,<30,MALE,Thursday
4,2021-05-28,34.18,2586.76,9557.9,['Walk'],74.40,12949.0,<30,MALE,Friday

Drop Null values other then ID, date and day of week, if whole row is null

In [56]:
null_values(fitbit_data_frame)
fitbit_data_frame.dropna(axis = 0, subset=["nightly_temperature","calories","distance","activityType","bpm","steps","age","gender"],how='all', inplace = True)
print("===========================================================================")
print("-------------------------After Drop Na------------------------------------")
null_values(fitbit_data_frame)

                 index  Null Values
0                 date            0
1  nightly_temperature         4051
2             calories          750
3             distance         2633
4         activityType         5197
5                  bpm         2606
6                steps         2633
7                  age          614
8               gender          370
9          day_of_week            0
===========================================================================
-------------------------After Drop Na------------------------------------
                 index  Null Values
0                 date            0
1  nightly_temperature         3993
2             calories          692
3             distance         2575
4         activityType         5139
5                  bpm         2548
6                steps         2575
7                  age          556
8               gender          312
9          day_of_week            0

- Updating Activity type using distance, calories & steps
- Updating night temperature with average night temperture
- In last Drop null values, if any of ("calories","distance","activityType","bpm","steps","age","gender") these fields is null

In [57]:
values = (fitbit_data_frame["distance"].gt(1000) & fitbit_data_frame["calories"].gt(500) & fitbit_data_frame["steps"].gt(1000)).map({True:"['Walk']"})
fitbit_data_frame["activityType"].fillna(values,inplace=True)
fitbit_data_frame["nightly_temperature"].fillna(fitbit_data_frame["nightly_temperature"].mean().round(2),inplace=True)
null_values(fitbit_data_frame)
print("----------->|| Shape ||",fitbit_data_frame.shape)

fitbit_data_frame.dropna(axis = 0, subset=["calories","distance","activityType","bpm","steps","age","gender"], inplace = True)
print("===========================================================================")
print("-------------------------After Drop Na------------------------------------")
null_values(fitbit_data_frame)
print("----------->|| Shape ||",fitbit_data_frame.shape)

                 index  Null Values
0                 date            0
1  nightly_temperature            0
2             calories          692
3             distance         2575
4         activityType         2907
5                  bpm         2548
6                steps         2575
7                  age          556
8               gender          312
9          day_of_week            0
----------->|| Shape || (7352, 10)
===========================================================================
-------------------------After Drop Na------------------------------------
                 index  Null Values
0                 date            0
1  nightly_temperature            0
2             calories            0
3             distance            0
4         activityType            0
5                  bpm            0
6                steps            0
7                  age            0
8               gender            0
9          day_of_week            0
----------->|| Shape || (3941, 10)

In [58]:
fitbit_data_frame['ID'] = [str(uuid4()) for _ in range(len(fitbit_data_frame.index))]
fitbit_data_frame.head()

,date,nightly_temperature,calories,distance,activityType,bpm,steps,age,gender,day_of_week,ID
0,2021-05-24,34.14,2351.59,6517.5,['Walk'],71.70,8833.0,<30,MALE,Monday,07494b49-01b7-4dd2-8bfd-090eb38976f3
1,2021-05-25,33.79,2332.08,7178.6,['Walk'],70.58,9727.0,<30,MALE,Tuesday,42e6205e-5105-441f-a5eb-507d4dcdc32e
2,2021-05-26,34.61,2262.30,6090.9,['Walk'],71.84,8253.0,<30,MALE,Wednesday,5406ff9c-d042-4b90-9717-fa742d6e5627
3,2021-05-27,34.41,2325.10,6653.1,['Walk'],71.73,9015.0,<30,MALE,Thursday,f0631572-d39d-4a15-bbb2-b7690193cefa
4,2021-05-28,34.18,2586.76,9557.9,['Walk'],74.40,12949.0,<30,MALE,Friday,2f8d6cfb-7d31-4135-956c-e1bdbc1d512b

## Creating New Data for fitbit DateFrame

In [71]:
new_data = pd.DataFrame()
steps = np.random.randint(4500, 35000)
for i in range(np.random.randint(200,400)):
    new_data = new_data.append({
        "ID": str(uuid4()),
        "date": date.today().strftime("%y-%m-%d"),
        "nightly_temperature": np.random.uniform(33.423423,40.4352545),
        "steps": steps,
        "distance": steps/1.411344,
        "bpm": np.random.uniform(70.423423,100.4352545),
        "calories": steps - (steps/1.4111651),
        "activityType": np.random.choice(["['Sport']","['Walk']","['Aerobic Workout', 'Walk']","['Yoga/Pilates', 'Walk']","['Aerobic Workout', 'Sport', 'Walk']",np.nan]),
        "age": np.random.choice(["<30",">=30",">30",np.nan]),
        "gender": np.random.choice(["Male","Female",np.nan]),
        "sleep_points_percentage": np.random.uniform(0.423423,0.93525),
        "full_sleep_breathing_rate": np.random.uniform(7.423423,19.4352545),
        "exertion_points_percentage": np.random.uniform(0.3423,0.93545),
        "nremhr": np.random.uniform(47.423423,60.4352545),
        "responsiveness_points_percentage": np.random.uniform(0.23423,0.9352545),
        "filteredDemographicVO2Max": np.random.uniform(70.423423,100.4352545),
        "resting_hr": np.random.uniform(70.423423,100.4352545),
        "rmssd": np.random.uniform(70.423423,100.4352545)
        },ignore_index=True)
new_data.head()

,ID,date,nightly_temperature,steps,distance,bpm,calories,activityType,age,gender,sleep_points_percentage,full_sleep_breathing_rate,exertion_points_percentage,nremhr,responsiveness_points_percentage,filteredDemographicVO2Max,resting_hr,rmssd
0,e9ec7a0c-f704-4fc8-8d3f-e21a0eedf459,23-06-02,35.080021,10062.0,7129.374554,97.293163,2931.721622,['Walk'],<30,Female,0.621896,18.987650,0.442008,51.593042,0.635210,88.525262,82.468073,88.948824
1,a225c0e3-d1cc-4be4-a89b-58db167f3ad1,23-06-02,37.057086,10062.0,7129.374554,98.264497,2931.721622,nan,>30,nan,0.566571,13.587729,0.830192,59.145482,0.241907,77.316792,75.924488,90.615870
2,f81d1737-8869-40de-9bce-de9fb61c7e86,23-06-02,37.318315,10062.0,7129.374554,77.384932,2931.721622,nan,>30,Female,0.566891,17.815918,0.456202,58.577701,0.871985,82.367803,87.436944,78.576860
3,ff69056d-61d3-4d2c-82ef-44a6bd10d5ab,23-06-02,39.716591,10062.0,7129.374554,74.303730,2931.721622,"['Aerobic Workout', 'Walk']",>=30,Female,0.844888,10.632963,0.496131,47.515739,0.699964,88.974784,95.968844,88.923339
4,459cb1d0-068e-4939-8b5c-9cab8b4aebac,23-06-02,37.672271,10062.0,7129.374554,93.511550,2931.721622,"['Aerobic Workout', 'Sport', 'Walk']",>30,Male,0.625555,16.389863,0.554703,58.245985,0.430918,90.009538,92.760622,80.522190

### Inserting into DB

In [67]:
import mysql.connector

In [68]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="fitbit"
)
mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E1D0455E48>

In [69]:
cols = ",".join([str(i) for i in fitbit_data_frame.columns.tolist()])
for i,row in fitbit_data_frame.iterrows():
    sql = "INSERT INTO fitbit (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    mycursor.execute(sql, tuple(row))

mydb.commit()

print("Data Succesfully Inserted to DB")

Data Succesfully Inserted to DB

In [66]:
mydb.commit()
mydb.close